.dumi-default-navbar{
  flex-grow: 1;
  padding-left: 60px!important;
}
.dumi-default-logo{
  font-weight: lighter!important;
}

.dumi-default-previewer-demo button{
  padding: 8px;
  margin: 4px;
  cursor: pointer;
}



.dumi-default-previewer-demo table {
  border-collapse: collapse;
  width: 100%;
  border: none;
}

.dumi-default-previewer-demo table th,
.dumi-default-previewer-demo table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.dumi-default-previewer-demo table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* ul.dumi-default-toc>li[data-depth='2']{
  font-weight: bold;
} */


input[type='text']:focus{
  outline: none;
}

/* input[type='submit']{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: auto;
  min-width: 80px;
  cursor: pointer;
  box-sizing: border-box;
} */
