.dumi-default-navbar{
  flex-grow: 1;
  padding-left: 60px!important;
}
.dumi-default-logo{
  font-weight: lighter!important;
}

.dumi-default-previewer-demo button{
  padding: 8px;
  margin: 4px;
  cursor: pointer;
}
